<html>
<head>
    <title>Offshore Company Generator</title>
    <meta charset=utf-8>
    <meta name="description" content="For all your offshore company needs">
<style ype="text/css">
.main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    }
.divsection {
    display: table;
    width: 100%;
    min-height: 8%;
    height: 8%;
    z-index: 0;
    }
.divcontent {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 120%;
    line-height: 110%;
    padding: 10%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    }
.divfooter {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 120%;
    line-height: 110%;
    padding: 2%;
    display: table-cell;
    text-align: center;
    }
.divtitle {
    display: table-cell;
    vertical-align: middle;
}
.divtitle a {
    color: black;
    text-decoration: none;
    }
.divbackground{
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 1;
    filter: brightness(75%)
    }
p.name{
    font-size: 145%;
    font-weight: bold;
    }
p.address{
    font-style: italic;
    }
ul {
  list-style: none;
}
h1 {
    font-family: times, Times New Roman, times-roman, georgia, serif;
    font-size: 48px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #444;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-weight: 100;
    text-align: center;
}
.button {
	-moz-box-shadow:inset 1px 1px 0px 1px #ffffff;
	-webkit-box-shadow:inset 1px 1px 0px 1px #ffffff;
	box-shadow:inset 1px 1px 0px 1px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Verdana;
	font-size:19px;
	font-weight:bold;
	padding:11px 39px;
	text-decoration:none;

}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.button:active {
	position:relative;
	top:1px;
}
</style>
</head>
<body>
<div class="main">
<div class="divsection" style="background-color: #ECEAEA">
    <div class="divtitle">
        <h1><a href="/">Offshore Company Generator</a></h1>
    </div>
</div>
<div class="divsection">
    <div class="divbackground" style="background-image: url(img/{{img}});">
</div>
<div class="divcontent">
    <div style="background-color: #ECEAEA; opacity: 0.9; padding: 2%; border:3px outset #C4C3C3;">
        <ul>
        <li><p class="name">{{name}}</p></li>
        <li>{{type}}</li>
        <li><p class="address">{{address}}</p></li>
        </ul>
    </div>
<a href="/" class="button">Regenerate</a>
</div>
</div>
<div class="divsection" style="background-color: #ECEAEA">
    <div class="divfooter">
        Generated using <a href="https://offshoreleaks.icij.org/">ICIJ offshore leaks database</a>
        <p>Database info:</p>
        <li>Company words in database: {{total_names}}</li>
        <li>Company addresses in database: {{total_addresses}}</li>
        <li>Company entities: {{total_types}}</li>
        <a href="https://github.com/vbarbaresi/offshore-generator">Source code on GitHub</a>
    </div>
</div>
</div>
</body>
</html>
